{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent Control Plane API",
    "version": "0.3.0",
    "description": "Hosted Context Hub work-continuity API. Clients author work records; the Hub authenticates, validates, stores, and serves them without executing agents or generating summaries. Token provisioning is operator-only and is not exposed over HTTP."
  },
  "servers": [
    {
      "url": "https://agent.gwinam.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Process liveness",
        "responses": {
          "204": {
            "description": "Process is running"
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "ready",
        "summary": "Database readiness",
        "responses": {
          "204": {
            "description": "Database is available"
          },
          "503": {
            "description": "Database is unavailable"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "openapi",
        "summary": "Public API description",
        "responses": {
          "200": {
            "description": "OpenAPI description",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/spaces": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "listSpaces",
        "summary": "List spaces allowed for this client token",
        "responses": {
          "200": {
            "description": "Allowed spaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Space"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/spaces/{space_id}/projects": {
      "post": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "createProject",
        "summary": "Create a remotely synchronized project",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource does not exist or is outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Version conflict or idempotency key reused with different content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "JSON content type required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project_id}/tasks": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "listTasks",
        "summary": "List tasks in a project",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource does not exist or is outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "createTask",
        "summary": "Create a task",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTask"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource does not exist or is outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "JSON content type required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/checkpoints": {
      "post": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "appendCheckpoint",
        "summary": "Append an optimistic, idempotent progress checkpoint or handoff",
        "description": "A replay with the same client token, Idempotency-Key, task, and body returns the original checkpoint. A handoff requires at least one remaining action.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendCheckpoint"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created checkpoint or original checkpoint for an exact replay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkpoint"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource does not exist or is outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Version conflict or idempotency key reused with different content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "JSON content type required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/timeline": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "taskTimeline",
        "summary": "Read the checkpoint timeline",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Checkpoint"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource does not exist or is outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/handoff": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "latestHandoff",
        "summary": "Read the latest handoff",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest handoff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkpoint"
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, expired, or revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource does not exist or is outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "listActiveTasks",
        "summary": "Discover authorized tasks",
        "description": "Defaults to active tasks (todo, in_progress, blocked). Summaries are excerpts of client-authored checkpoints.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Task status filter",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "all",
                "todo",
                "in_progress",
                "blocked",
                "completed",
                "cancelled"
              ],
              "default": "active"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task cards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskCardPage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "taskOverview",
        "summary": "Read a task overview and first page of session history",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskOverview"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/pre-session-history": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "preSessionHistory",
        "summary": "Page through checkpoints written before session support",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Legacy checkpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckpointPage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/sessions": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "listTaskSessions",
        "summary": "Page through sessions for one task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Work sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkSessionPage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "createWorkSession",
        "summary": "Start a task-scoped work session",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkSession"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkSession"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "JSON content type required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/sessions/{session_id}": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "sessionDetail",
        "summary": "Read session metadata and its first 20 entries",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/sessions/{session_id}/entries": {
      "get": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "sessionEntries",
        "summary": "Page through all stored session entries",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor returned by the previous page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEntryPage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}/sessions/{session_id}/close": {
      "post": {
        "security": [
          {
            "clientToken": []
          }
        ],
        "operationId": "closeWorkSession",
        "summary": "Close a session with an agent-authored summary",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseWorkSession"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Closed session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkSession"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Token lacks required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found or outside the token's space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "JSON body exceeds 64 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "JSON content type required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clientToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Opaque, scoped client token issued by the Hub operator."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Space": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "required": [
          "id",
          "space_id",
          "name",
          "description",
          "sync_policy",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "space_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "repository_reference": {
            "type": "string"
          },
          "sync_policy": {
            "type": "string",
            "enum": [
              "metadata_and_handoffs"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Task": {
        "type": "object",
        "required": [
          "id",
          "project_id",
          "title",
          "objective",
          "status",
          "version",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "objective": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "blocked",
              "completed",
              "cancelled"
            ]
          },
          "version": {
            "type": "integer",
            "format": "int64"
          },
          "base_revision": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Checkpoint": {
        "type": "object",
        "required": [
          "id",
          "task_id",
          "task_version",
          "kind",
          "summary",
          "completed",
          "remaining",
          "warnings",
          "changed_paths",
          "test_results",
          "created_by_principal",
          "created_by_client",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "task_id": {
            "type": "string",
            "format": "uuid"
          },
          "task_version": {
            "type": "integer",
            "format": "int64"
          },
          "kind": {
            "type": "string",
            "enum": [
              "progress",
              "handoff"
            ]
          },
          "summary": {
            "type": "string"
          },
          "completed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "remaining": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "changed_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "test_results": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source_revision": {
            "type": "string"
          },
          "created_by_principal": {
            "type": "string",
            "format": "uuid"
          },
          "created_by_client": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "session_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CreateProject": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "sync_policy"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "description": {
            "type": "string",
            "maxLength": 4000
          },
          "repository_reference": {
            "type": "string",
            "maxLength": 500
          },
          "sync_policy": {
            "type": "string",
            "enum": [
              "metadata_and_handoffs"
            ]
          }
        }
      },
      "CreateTask": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "title",
          "objective"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "objective": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "base_revision": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "AppendCheckpoint": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "expected_version",
          "kind",
          "summary"
        ],
        "properties": {
          "expected_version": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          },
          "kind": {
            "type": "string",
            "enum": [
              "progress",
              "handoff"
            ]
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "completed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "remaining": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "changed_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "test_results": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source_revision": {
            "type": "string",
            "maxLength": 200
          },
          "session_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "TaskCard": {
        "type": "object",
        "required": [
          "id",
          "project_id",
          "project_name",
          "space_id",
          "space_name",
          "title",
          "status",
          "version",
          "last_activity_at",
          "session_count",
          "has_pre_session_history"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "project_name": {
            "type": "string"
          },
          "space_id": {
            "type": "string",
            "format": "uuid"
          },
          "space_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int64"
          },
          "latest_summary": {
            "type": "string"
          },
          "last_activity_at": {
            "type": "string",
            "format": "date-time"
          },
          "session_count": {
            "type": "integer",
            "format": "int64"
          },
          "has_pre_session_history": {
            "type": "boolean"
          }
        }
      },
      "ProjectRef": {
        "type": "object",
        "required": [
          "id",
          "name",
          "space_id",
          "space_name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "space_id": {
            "type": "string",
            "format": "uuid"
          },
          "space_name": {
            "type": "string"
          }
        }
      },
      "WorkSession": {
        "type": "object",
        "required": [
          "id",
          "task_id",
          "created_by_principal",
          "created_by_client",
          "started_at",
          "last_activity_at",
          "entry_count"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "task_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_by_principal": {
            "type": "string",
            "format": "uuid"
          },
          "created_by_client": {
            "type": "string",
            "format": "uuid"
          },
          "client_label": {
            "type": "string"
          },
          "source_session_reference": {
            "type": "string"
          },
          "resumed_from_handoff_id": {
            "type": "string",
            "format": "uuid"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_activity_at": {
            "type": "string",
            "format": "date-time"
          },
          "summary": {
            "type": "string"
          },
          "entry_count": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SessionEntry": {
        "type": "object",
        "required": [
          "sequence",
          "checkpoint"
        ],
        "properties": {
          "sequence": {
            "type": "integer",
            "format": "int64"
          },
          "checkpoint": {
            "$ref": "#/components/schemas/Checkpoint"
          }
        }
      },
      "TaskCardPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskCard"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "WorkSessionPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkSession"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "CheckpointPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Checkpoint"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "SessionEntryPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionEntry"
            }
          },
          "next_cursor": {
            "type": "string"
          }
        }
      },
      "TaskOverview": {
        "type": "object",
        "required": [
          "task",
          "project",
          "recent_checkpoints",
          "sessions",
          "pre_session_history",
          "has_pre_session_history"
        ],
        "properties": {
          "task": {
            "$ref": "#/components/schemas/Task"
          },
          "project": {
            "$ref": "#/components/schemas/ProjectRef"
          },
          "latest_checkpoint": {
            "$ref": "#/components/schemas/Checkpoint"
          },
          "latest_handoff": {
            "$ref": "#/components/schemas/Checkpoint"
          },
          "recent_checkpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Checkpoint"
            }
          },
          "sessions": {
            "$ref": "#/components/schemas/WorkSessionPage"
          },
          "pre_session_history": {
            "$ref": "#/components/schemas/CheckpointPage"
          },
          "has_pre_session_history": {
            "type": "boolean"
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "required": [
          "session",
          "entries"
        ],
        "properties": {
          "session": {
            "$ref": "#/components/schemas/WorkSession"
          },
          "entries": {
            "$ref": "#/components/schemas/SessionEntryPage"
          }
        }
      },
      "CreateWorkSession": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "client_label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "source_session_reference": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "resumed_from_handoff_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CloseWorkSession": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "summary"
        ],
        "properties": {
          "summary": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          }
        }
      }
    }
  }
}
